@import "~bootstrap/scss/bootstrap";

.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table td,
table th {
  white-space: nowrap;
}
